* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  background: rgba(10, 10, 18, 0.55);
  border-bottom: 2px solid rgba(0, 245, 255, 0.9);
  color: rgba(0, 245, 255, 0.95);
}

#workspaces button {
  padding: 0 10px;
  margin: 6px 2px;
  border-radius: 10px;
  color: rgba(160,160,170,0.9);
  background: transparent;
}

#workspaces button.active {
  color: rgba(255,0,255,0.95);
  box-shadow: inset 0 -2px rgba(255,0,255,0.95);
}

#clock, #cpu, #memory, #network, #battery, #tray, #window {
  margin: 6px 6px;
  padding: 0 10px;
  border-radius: 10px;
  background: rgba(0,0,0,0.25);
}
